{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ article.title }}{% endblock %}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(article) %}
    {{ translations.entry_hreflang(article) }}
  {% endif %}

  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block content %}
<section id="content" class="body">
  <header>
    <h2 class="entry-title">
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
         title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
        
 {% import 'translations.html' as translations with context %}
 {{ translations.translations_for(article) }}
  </header>
  <div>
    <p>
      {% if article.photo and article.photo == "true" %}
      <img width="65%" height="65%" src="images/{{ article.title.replace(" ", "_") }}.jpg" />
      {% endif %}
    </p>
  </div>
  <footer class="post-info no-print">
    {% if article.authors %}
    <address class="vcard author">
      Par {% for author in article.authors %}
          <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
        {% endfor %}
    </address>
    {% endif %}
    {% if article.inspiration %}
    <div class="category">
      Base de création : {% if article.inspiration.startswith("http") %}
        <a class="url fn" href="{{ article.inspiration }}">{{ article.inspiration }}</a>
      {% else %}
        {{ article.inspiration }}
      {% endif%}
    </address>
    {% endif %}
    {% if article.category %}
    <div class="category">
        Catégories: <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
    </div>
    {% endif %}
    {% if article.tags %}
    <div class="tags">
        Tags:
        {% for tag in article.tags %}
            <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
        {% endfor %}
    </div>
    {% endif %}
    <div>
      {% if article.preparation %} Préparation : {{ article.preparation }} - {% endif %}
      {% if article.cuisson %}     Cuisson     : {{ article.cuisson }} -     {% endif %}
      {% if article.repos %}       Repos       : {{ article.repos }} -       {% endif %}
      {% if article.prix %}        Prix        : {{ article.prix }} -        {% endif %}
      {% if article.difficulte %}  Difficulté  : {{ article.difficulte }} -  {% endif %}
      Bon appétit !
    </div>
  </footer><!-- /.post-info -->
  <div class="entry-content">
    {{ article.content }}
  </div><!-- /.entry-content -->
</section>
{% endblock %}
